In [1]:
import pandas as pd

In [2]:
laps_2018 = pd.read_csv('../data/merged/laps_2018.csv')

In [3]:
laps_2018.shape

(23263, 34)

In [4]:
laps_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23263 entries, 0 to 23262
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                23263 non-null  object
 1   Driver              23263 non-null  object
 2   DriverNumber        23263 non-null  int64
 3   LapTime             22821 non-null  object
 4   LapNumber           23263 non-null  float64
 5   Stint               22900 non-null  float64
 6   PitOutTime          560 non-null    object
 7   PitInTime           588 non-null    object
 8   Sector1Time         22763 non-null  object
 9   Sector2Time         23184 non-null  object
 10  Sector3Time         23182 non-null  object
 11  Sector1SessionTime  22705 non-null  object
 12  Sector2SessionTime  23184 non-null  object
 13  Sector3SessionTime  23182 non-null  object
 14  SpeedI1             20240 non-null  float64
 15  SpeedI2             23178 non-null  float64
 16  SpeedFL             22600 non-null  float64
 17  SpeedST             21487 non-null  float64
 18  IsPersonalBest      23226 non-null  object
 19  Compound            22900 non-null  object
 20  TyreLife            22900 non-null  float64
 21  FreshTyre           23263 non-null  bool
 22  Team                23263 non-null  object
 23  LapStartTime        23263 non-null  object
 24  LapStartDate        22234 non-null  object
 25  TrackStatus         21946 non-null  float64
 26  Position            23209 non-null  float64
 27  Deleted             23263 non-null  bool
 28  DeletedReason       0 non-null      float64
 29  FastF1Generated     23263 non-null  bool
 30  IsAccurate          23263 non-null  bool
 31  RaceName            23263 non-null  object
 32  Country             23263 non-null  object
 33  Round               23263 non-null  int64
dtypes: bool(4), float64(10), int64(2), object(18)
memory usage: 5.4+ MB

In [5]:
valid_laps = laps_2018[
    (laps_2018['LapTime'].notna()) &
    (~laps_2018['Deleted']) &
    (laps_2018['IsAccurate'])
]

In [10]:
valid_laps = valid_laps.copy()

In [11]:
valid_laps['LapTimeSeconds'] = pd.to_timedelta(valid_laps['LapTime']).dt.total_seconds()

In [12]:
fastest_laps = valid_laps.groupby('Driver')['LapTimeSeconds'].min().sort_values()

In [13]:
fastest_laps

Driver
RAI    66.957
VET    67.082
HAM    67.241
VER    67.442
RIC    67.591
ERI    68.216
MAG    68.476
PER    68.504
ALO    68.661
SAI    68.766
OCO    68.850
VAN    68.894
SIR    68.971
LEC    69.006
BOT    69.044
GRO    69.071
HAR    69.171
STR    69.203
GAS    69.295
HUL    70.380
Name: LapTimeSeconds, dtype: float64

In [ ]:
%matplotlib inline